.environment-settings {
    outline: 1px solid red;
  height: 100%;
  display: flex;

  .navigation {
    flex: 0 0 200px
  }

  .settings {
    padding: 0 50px 50px 50px;
    flex: 0 0 calc(100% - 200px);
  }
}
