@import "utils/reset";
@import "spinner";

:global {
  html,
  body,
  #app {
    height: 100%;
    min-height: 100%;
    background: theme-color(grey5);
    color: theme-color(white1);
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  }

  a {
    color: theme-color(white1);
  }

  .hidden {
    display: none;
  }
}
