/* You can add global styles to this file, and also import other style files */
@import "utils/reset";
//@import "utils/variables";
//@import "utils/functions";
//@import "utils/mixins";
//@import "utils/colors";
//@import "utils/typography";

.display-block {
  display: block;
}

.element-block {
  display: block;
}

.element-inline-block {
  display: inline-block;
}

