.navigation {
    outline: 1px solid red;
}

.navigation-section {
  margin-bottom: 25px;
}

.navigation-section-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.navigation-item {
  color: #96a3b3;
  line-height: 1.5;
  cursor: pointer;
}
