.navigation {
  box-shadow: 1px 0 0 0 #4a525a;
  border-right: solid 1px theme-color(grey6);
  height: 100%;
  flex: 0 0 200px;
}

.navigation-section {
  margin-bottom: 25px;
}

.navigation-section-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  margin-left: 8px;
}

.navigation-item {
  color: #96a3b3;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  &::before {
    content: '';
    display: inline-block;
    visibility: hidden;
    width: 4px;
    height: 16px;
    background: #51b2e9;
    margin-right: 5px;
  }

  &.active::before {
    visibility: visible;
  }
}

.active-link-indicator {
  display: inline-block;
}

