.team {
  .heading {
    margin-bottom: 40px;
  }

  .link {
    color: theme-color(blue1);
    font-weight: normal;
    cursor: pointer;
  }

  .label {
    font-size: get-font-size(regular);
    margin-right: 10px;

    svg {
      position: relative;
      top: 3px;
      cursor: pointer;
    }
  }

  .edit-delete-container {
    svg {
      position: relative;
      top: 2px;
      padding-right: 5px;
    }

    .edit {
      margin-right: 5px;
      cursor: pointer;
      color: theme-color(blue1);
    }

    .delimeter {
      color: theme-color(grey1);
    }

    .delete {
      margin-left: 10px;
      cursor: pointer;
      color: theme-color(blue1);
    }
  }

  .invite-to-team-container {
    margin-bottom: 40px;

    .label {
      margin-right: 10px;
    }

    .input {
      height: 30px;
      max-width: 370px;
      margin-right: 10px;
    }
  }
}
