$colors: (
  // White
  white1: #ffffff,
  // Grey
  grey1: #cbddf2,
  grey2: #96a3b3,
  grey3: #778796,
  grey4: #5c656e,
  grey5: #323a41,
  grey6: #22272c,
  grey7: #0b0b0b,
  // Blue
  blue1: #51b2e9,
  blue2: #2eacd7,
  // Red
  red1: #ee6557,
  // Green
  green1: #8dc63f,
  // Purple
  purple1: #8863b8,
  // Black
  black1: #000000
);

$fontSizes: (
  title: 24px,
  subTitle: 16px,
  regular: 13px
);

// Get the value of the color from the ei-colors map
@function theme-color($name) {
  @if map-has-key($colors, $name) {
    @return map_get($colors, $name);
  }
  @warn "The key #{$name} is not in the map ’$layer’";
  @return null;
}

@function get-font-size($name) {
  @if map-has-key($fontSizes, $name) {
    @return map_get($fontSizes, $name);
  }
  @warn "The key #{$name} is not in the map ’$layer’";
  @return null;
}

// Generate color, bg and bg-gradient classes for each color
//@include gen-palette($colors);


