// Generate a color palette based onf the passed array of colors
@mixin gen-palette($colorsArray) {
  @each $colorName, $colorValue in $colorsArray {
    @if(ends-with($colorName, 'G')) {
      .#{str-replace($colorName, 'G', '')}-bg-gradient {
        background-image: map_get($colorsArray, $colorName)
      }
    } @else {
      .#{str-replace($colorName, 'F', '')}-color {
        color: map_get($colorsArray, $colorName);
      }
      .#{str-replace($colorName, 'F', '')}-bg {
        background-color: map_get($colorsArray, $colorName);
      }
      .#{str-replace($colorName, 'F', '')}-border {
        border: 1px solid map_get($colorsArray, $colorName);
      }
    }
  }
}
