.header {
  display: flex;

  @include set-size-bg(100%, 48px, theme-color(blue3));

  .left-cell,
  .right-cell {
    @include set-flex(row, flex-start, center);

    flex: 1;
  }

  .left-cell {
    justify-content: flex-start;
  }

  .right-cell {
    justify-content: flex-end;
  }

  .logo,
  .info {
    @include set-flex(row, center, center);

    height: 100%;
  }

  .logo {
    width: 58px;
    border-right: 1px solid rgba(theme-color(grey1), 0.2);
    cursor: pointer;
  }

  .info {
    width: 54px;
    border-left: 1px solid rgba(theme-color(grey1), 0.2);
  }
}
