.breadcrumbs {
  height: 40px;
  margin-top: 17px;
  margin-bottom: 48px;
  font-size: 15px;
  display: flex;
  align-items: center;

  .item {
    text-transform: capitalize;

    &:last-child {
      color: theme-color('grey2');
    }
  }
}
