.button {
  height: 30px;
  width: 63px;
  border-radius: 3px;
  border: solid 1px theme-color(white1);
  background: theme-color(grey5);
  outline: none;
  color: theme-color(white1);
  cursor: pointer;
}
